.title-1 {
  @apply text-4xl
  font-semibold
  leading-11
  tracking-tight
  md:text-6xl
  md:leading-18;
}

.title-2 {
  @apply text-3xl
  font-semibold
  leading-9.5;
}

.text-1 {
  @apply text-xl
  font-normal
  leading-7.5;
}

.text-2 {
  @apply text-lg
  font-normal
  md:text-xl
  md:leading-7.5;
}

.text-3 {
  @apply text-lg;
}

.text-4 {
  @apply font-space-grotesk
  text-lg
  font-bold
  uppercase
  leading-9.5
  tracking-wider
  text-primary;
}

.text-5 {
  @apply text-base;
}
