.title-1 {
  @apply
  text-4xl
  leading-11
  font-semibold
  tracking-tight
  xl:text-6xl
  xl:leading-18
}

.title-2 {
  @apply
  text-3xl
  leading-9.5
  font-semibold
}

.text-1 {
  @apply
  font-normal
  text-xl
  leading-7.5
  xl:text-lg
}

.text-2 {
  @apply
  text-lg
  font-normal
  xl:text-xl
  xl:leading-7.5
}

.text-3 {
  @apply
  text-lg
}

.text-4 {
  @apply
  text-lg
  leading-9.5
  font-bold
  tracking-wider
  uppercase
  font-space-grotesk
  text-primary
}

.text-5 {
  @apply
  text-base
}
